@import "tailwindcss";

html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ebe4dd;
  color: black;
  font-weight: 800;
  font-size: 1.75rem;
}

button {
  cursor: pointer;
}
